/* normalize */
body { margin: 0; }

/* global styles */

.container {
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  background: #f6fbff;
}

/* header */
header {
  height: 50px;
  font-size: 18px;
  position: absolute;
  top: 10px;
}

header input, header button {
  font-size: 18px;
}

/* body */
#js-room-mode {
  display: none;
}

.meta {
  text-align: center;
  font-size: .8rem;
  color: gray;
  display: none;
}


#videos video, #dummy {
  margin: 0 0 10px 0;
  /* width: calc(50vw - 205px); */
  /* height: calc(calc(50vw - 205px) * 3 / 4); */
  /* max-height: calc(50vh - 95px); */
  /* max-height: calc(25vh - 95px); */
  width: 100%;
}

video, #dummy, .remote-streams {
  background: #111111;
}

#media video {
  width: 100%;
  /* margin: 10px; */
}


/* room */
.room {
  display: grid;
  /* grid-template-columns: 1fr 280px; */
  /* grid-template-columns: 65% 20% 15%; */
  grid-template-columns: 5fr minmax(200px, 1fr) 280px;
  /* gap: 10px; */
}

.room .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}

.room #videos {
  position: relative;
  padding: 10px;
}

.room #js-local-stream {
  /* position: absolute; */
  z-index: 999;
  transform: scaleX(-1);
}

.room .remote-streams {
  display: flex;
  flex-wrap: wrap;
}

.room #dummy {
  position: relative;
}


/* media */
#media {
  background: #111;
}

.wrap-video {
  position: relative;
  /* width: calc(50vw - 205px); */

}
.name, .local-name {
  background-color: #111111;
  color: white;
  font-size: 13px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  padding: 2px;
  z-index: 9999;
}

.local-name {
  bottom: -3px;
}

#videos {
  background: #111111;
  height: calc(100vh - 150px);
}


/* chat */
.chat {
  /* width: 280px; */
  padding: 10px;
}

.chat input, .chat button{
  font-size: 16px;
}


/* component */
button {
  background-color: rgb(153, 168, 180);
  color: white;
  border: 0;
}
button:hover {
  cursor: pointer;
  background-color:  rgb(62, 158, 236);
}
button:focus {
	outline:0;
}
button:focus {
  outline:0;
}

#js-share-trigger, #js-watch-trigger, #js-stop-trigger {
  display: none;
}


/* footer */
footer {
  position: absolute;
  bottom: 10px;
  height: 80px;
}

footer button {
  font-size: 18px;
}
