/* normalize */
body { margin: 0; }

/* global styles */
.container {
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  position: relative;
  padding-top: 60px;
  padding-bottom: 170px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  background: #f6fbff;
}

#js-room-mode {
  display: none;
}

.meta {
  text-align: center;
  font-size: .8rem;
  color: gray;
  display: none;
}

/* header */
header {
  height: 50px;
  font-size: 18px;
  position: absolute;
  top: 10px;
}

header input, header button {
  font-size: 18px;
}

/* room */
.room {
  display: grid;
  grid-template-columns: 1fr 280px;
  gap: 10px;
}

.stamp-area, #dummy {
  width: calc(50vw - 210px);
  height: calc(calc(50vw - 210px) * 3 / 4);
  max-height: calc(50vh - 120px);
}

/* .stamp-area, #dummy, .remote-streams {
  background: #111111;
} */

.stamp-area {
  background: #eee;
}

.room .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}

.room #videos {
  position: relative;
  /* padding: 15px; */
  /* background: #111111; */
  /* height: calc(100vh - 180px); */
  border: solid 15px #111111;
}

.room #js-local-stream {
  position: absolute;
  z-index: 999;
  transform: scaleX(-1);
  top: 15px;
  left: 15px;
  /* height: 0; */
}

.room .remote-streams {
  display: flex;
  flex-wrap: wrap;
}

#dummy, .wrap-video:not(#local-wrap-video) {
  position: relative;
  width: calc(50vw - 210px);
  /* margin: 0 15px 15px 0; */
  /* margin: 15px 0 0 15px; */
}

#local-wrap-video {
  height: 0;
}

.name, .local-name {
  background-color: #111111;
  color: white;
  font-size: 13px;
  position: absolute;
  bottom: 0px;
  padding: 2px;
  z-index: 9999;
}

.local-name {
  bottom: -5px;
  left: -3px;
}

#videos img {
  height: 300px;
}

video {
  display: none;
}

/* chat */
.chat {
  width: 280px;
}
.chat input, .chat button{
  font-size: 16px;
}


/* footer */
footer {
  position: absolute;
  bottom: 10px;
  height: 150px;
}

footer button {
  font-size: 18px;
}


/* component */
button {
  background-color: rgb(153, 168, 180);
  color: white;
  border: 0;
}
button:hover {
  cursor: pointer;
  background-color:  rgb(62, 158, 236);
}
button:focus {
	outline:0;
}
button:focus {
	outline:0;
}

.stamp {
  padding: 0;
  border: none;
  background: transparent;
  height: 72px; 
  width: 72px;
}

