/* room */
.room {
  display: grid;
  grid-template-columns: 1fr 280px;
  gap: 10px;
}

video, #dummy {
  width: calc(50vw - 210px);
  height: calc(calc(50vw - 210px) * 3 / 4);
  max-height: calc(50vh - 60px);
}

video, #dummy, .remote-streams {
  background: #111111;
}

.room .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}

.room #videos {
  position: relative;
  /* padding: 15px; */
  background: #111111;
  height: calc(100vh - 60px);
}

.room #js-local-stream {
  position: absolute;
  z-index: 999;
  transform: scaleX(-1);
  top: 15px;
  left: 15px;
}

.room .remote-streams {
  display: flex;
  flex-wrap: wrap;
}

#dummy, .wrap-video:not(#local-wrap-video) {
  position: relative;
  width: calc(50vw - 210px);
  /* margin: 0 15px 15px 0; */
  margin: 15px 0 0 15px;

}
.name, .local-name {
  background-color: #111111;
  color: white;
  font-size: 13px;
  position: absolute;
  bottom: 0px;
  padding: 2px;
  z-index: 9999;
}

.local-name {
  bottom: -5px;
  left: -3px;
}

.rcg-text {
  position: absolute;
  bottom: 25px;
  width: 100%;
  font-size: 16px;
  z-index: 999;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
}

/* chat */
.chat {
  width: 280px;
  max-height: calc(100vh - 60px);
}
.chat input, .chat button{
  font-size: 16px;
}
/* 
#step3 {
  margin-top: 50px;
  max-height: calc(100vh - 350px);
  overflow: auto;
} */



