#header #to-top {
  right: 60px;
}

#videos video, #dummy {
  width: 100%;
}

video, #dummy, .remote-streams {
  background: #111111;
}

#media video {
  max-width: 100%;
}


/* room */
.room {
  display: grid;
  /* grid-template-columns: 1fr 280px; */
  /* grid-template-columns: 65% 20% 15%; */
  /* grid-template-columns: 5fr minmax(200px, 1fr) 280px; */
  grid-template-columns: 1fr 0;
  /* gap: 10px; */
}

.room .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}

.room #videos {
  position: relative;
  padding: 10px;
}

.room #js-local-stream {
  /* position: absolute; */
  z-index: 999;
  transform: scaleX(-1);
}

.room .remote-streams {
  display: flex;
  flex-wrap: wrap;
}

.room #dummy {
  position: relative;
}


/* media */
#media {
  background: #111;
  padding: 10px;
  text-align: center;
}

#media p {
  color: white;
}

.wrap-video {
  position: relative;
  margin: 0 0 5px;
  /* margin: 15px; */
  /* width: calc(50vw - 205px); */

}
.name, .local-name {
  position: absolute;
  bottom: 5px;
  padding: 2px;
  z-index: 9999;
}


#videos, #media {
  background: #111111;
  height: calc(100vh - 80px);
}

video {
  max-height: calc(100vh - 110px);
  /* margin: 15px; */
}


/* chat */
.chat {
  /* width: 280px; */
  padding: 10px;
}

.chat input, .chat button{
  font-size: 16px;
}


#js-share-trigger, #js-watch-trigger, #js-stop-trigger , #confirm{
  display: none;
}

#videos {
  display: none;
}