#media {
  display: none;
}

#now-sharing {
  animation: blink 2s ease-out 0s infinite alternate;
}

#room {
  position: relative;
}
@keyframes blink {
	0% {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    color: rgb(184, 72, 72);
    opacity: 0;
  }
	100% {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    color: rgb(184, 72, 72);
    opacity: 1;
  }
}
@-webkit-keyframes blink {
	0% {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    color: rgb(184, 72, 72);
    opacity: 0;
  }
	100% {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    color: rgb(184, 72, 72);
    opacity: 1;
  }
}